repos:
    - repo: https://github.com/antonbabenko/pre-commit-terraform
      rev: v1.74.1
      hooks:
        - id: terraform_fmt
        - id: terraform_validate
        - id: terraform_docs
          args:
            - '--args=--lockfile=false'
        - id: terraform_tflint
          args:
            - '--args=--only=terraform_deprecated_interpolation'
            - '--args=--only=terraform_deprecated_index'
            - '--args=--only=terraform_unused_declarations'
            - '--args=--only=terraform_comment_syntax'
            - '--args=--only=terraform_documented_outputs'
            - '--args=--only=terraform_documented_variables'
            - '--args=--only=terraform_typed_variables'
            - '--args=--only=terraform_module_pinned_source'
            - '--args=--only=terraform_naming_convention'
            - '--args=--only=terraform_required_version'
            - '--args=--only=terraform_required_providers'
            - '--args=--only=terraform_standard_module_structure'
            - '--args=--only=terraform_workspace_remote'

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
        # Git style
        - id: check-added-large-files
        - id: check-merge-conflict
        - id: check-vcs-permalinks
        - id: forbid-new-submodules
        - id: no-commit-to-branch

        # Common errors
        - id: end-of-file-fixer
        - id: trailing-whitespace
          args: [--markdown-linebreak-ext=md]
          exclude: CHANGELOG.md
        - id: check-yaml
        - id: check-merge-conflict
        - id: check-executables-have-shebangs

        # Cross platform
        - id: check-case-conflict
        - id: mixed-line-ending
          args: [--fix=lf]

        # Security
        - id: detect-aws-credentials
          args: ['--allow-missing-credentials']
        - id: detect-private-key
